body{
    background-color: rgb(30, 30, 30);
    text-align: center;
}
#canvas{
    padding: 0;
    margin: auto;
    display: block;
    border:rgb(230, 130, 16) 3px solid;
    background-color:black;
    /* font-family: 'Press Start 2P';
    font-size: 10px; */
    
    /* for 160x160 resolution (10 grids) */
    /* width: 320px;
    height: 320px; */

    /* for 240x240 resolution (15 grids) */
    /* width: 480px;
    height: 480px; */

    /* width: 420px;
    height: 408px; */
    /* width: 450px;
    height: 442px; */
    
    width: 480px;
    height: 476px;

    /* for 320x320 resolution (20 grids) */
    /* width: 640px;
    height: 640px; */

    image-rendering: -moz-crisp-edges;    
    image-rendering: -webkit-crisp-edges; 
    image-rendering: pixelated;
    
}

.updown{
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 8px;
}
#space{
    margin-top: 10px;
}

@media only screen and (max-width: 500px) {
    #canvas {
        width: 240px;
        height: 238px;
    }
    button{
        font-size: 20px;
    }
    .updown{
        margin-top: 20px;
    }
    #left{
        margin-right: 20px;
    }
    #right{
        margin-left: 20px;
    }
    #space{
        margin-top: 30px;
    }

  }

@media only screen and (max-height: 420px) {
    #canvas {
        width: 240px;
        height: 238px;
    }
    button{
        font-size: 16px;
    }
    #left{
        margin-right: 10px;
    }
    #right{
        margin-left: 10px;
    }
    
  }

@media only screen and (max-height: 330px) {
    body{
        overflow: hidden;
    }
    #canvas {
        width: 240px;
        height: 238px;
    }
    button{
        font-size: 16px;
    }
    .updown{
        position: relative;
        left: 50px;
        margin-top: 5px;
    }
    #left{
        position: relative;
        left: 50px;
        margin-right: 10px;
    }
    #right{
        position: relative;
        left: 50px;
        margin-left: 10px;
        
    }
    #space{
        position: relative;
        bottom: 33px;
        right: 90px;
    }
  }
